* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.blur {
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.header {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 50px 0;
}
.header > div {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
.company_name {
  font-size: 120pt;
  color: #6a473b;
  font-weight: 100;
  padding-top: 100px;
}
.company_years {
  font-size: 26pt;
  color: #6a473b;
  padding-bottom: 20px;
  border-bottom: 5px solid white;
}
.company_slogan {
  font-size: 26pt;
  font-weight: 100;
  color: #000;
  padding: 50px 0;
  line-height: 40pt;
}
.company_contacts {
  font-size: 20pt;
  color: #000;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 15px;
}
.login__form {
  display: flex;
}
.login__form form {
  display: block;
  margin: 0 auto;
}
.login__form form input {
  display: block;
  width: 250px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); /* Параметры тени */
  font-weight: 600;
}
.login__form form input[type="submit"] {
  background: #a3c9fe;
  cursor: pointer;
}
.add__btn {
  margin: 20px;
  background: lightgreen;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}
.table__tabs {
  display: flex;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  justify-content: space-between;
}
.table__tab {
  background: #7f39fb;
  padding: 8px 15px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: 0.3s;
  cursor: pointer;
}
.table__tab:hover {
  background: #fff;
  border: 2px solid #7f39fb;
  color: #000;
  transition: 0.3s;
}
.table__tab.active {
  background: #fff;
  border: 2px solid #7f39fb;
  color: #000;
  transition: 0.3s;
}
.on__main {
  display: flex;
  justify-content: flex-end;
  max-width: 800px;
  margin: 10px auto;
}
.on__main__btn {
  background-color: #018786;
  color: #000;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
.table__content {
  max-width: 1200px;
  margin: 0 auto;
}
.table__content table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 15px;
  box-shadow: 0 0 20px #7f39fb;
}
.table__content table tr:first-child {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.table__content table tr td {
  padding: 15px;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.table__content table tr td:first-child {
  text-align: center;
}
.table__content table tr td:last-child {
  border-right: none;
}
.table__content table tr:last-child td {
  border-bottom: none;
}
.table__content table tr:first-child td {
  background: #263238;
}
.table__content table tr:first-child td:first-child {
  border-radius: 15px 0 0 0;
}
.table__content table tr:first-child td:last-child {
  border-radius: 0 15px 0 0;
}
.table__content table tr:last-child td:first-child {
  border-radius: 0 0 0 15px;
}
.table__content table tr:last-child td:last-child {
  border-radius: 0 0 15px 0;
}
.form__block {
  max-width: 600px;
  margin: 0 auto;
}
.form__block__item {
  margin: 10px;
}
.form__block__item input,
.form__block__item textarea,
.form__block__item select {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid lightgray;
  color: #000;
}
.edit_block,
.del_block {
  text-align: center;
  font-size: 18px;
}
.edit_block a {
  color: blue;
}
.del_block a {
  color: red;
}
.products {
  max-width: 14400px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
}
.products > div {
  padding: 0 20px;
}
.products__filter {
  width: 20%;
}
.products__filter > div {
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: #ffe0ba;
  border-radius: 10px;
}
.product__items__list {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.filter__item {
  padding: 10px;
  background: #ffb4bb;
  border-radius: 7px;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
}
.filter__item:last-child{
  margin-bottom: 0;
}
.filter__item.active{
  background-color: #bae1ff;
  box-shadow: 0 0 5px #bae1ff;
}
.product__item {
  padding: 15px;
  box-shadow: 0 0 10px;
  background: #fff;
  width: 32%;
  margin-right: 1%;
  margin-bottom: 15px;
  border-radius: 10px;
}
.product__item > div {
  margin-bottom: 10px;
}
.product__image img {
  height: 150px;
  object-fit: cover;
  width: 100%;
}
.product__name {
  font-size: 24pt;
}
.product__desc {
  color: gray;
  text-align: justify;
}
