* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.blur {
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.header {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 50px 0;
  position: relative;
}
.header > div {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
.company_name {
  font-size: 120pt;
  color: #6a473b;
  font-weight: 100;
  padding-top: 100px;
  position: relative;
}
.company_years {
  font-size: 26pt;
  color: #6a473b;
  padding-bottom: 20px;
  border-bottom: 5px solid white;
}
.company_slogan {
  font-size: 26pt;
  font-weight: 100;
  color: #000;
  padding: 50px 0;
  line-height: 40pt;
}
.company_contacts {
  font-size: 20pt;
  color: #000;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 15px;
}
.login__form {
  display: flex;
}
.login__form form {
  display: block;
  margin: 0 auto;
}
.login__form form input {
  display: block;
  width: 250px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); /* Параметры тени */
  font-weight: 600;
}
.login__form form input[type="submit"] {
  background: #a3c9fe;
  cursor: pointer;
}
.add__btn {
  margin: 20px;
  background: lightgreen;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}
.table__tabs {
  display: flex;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  justify-content: space-between;
}
.table__tab {
  background: #7f39fb;
  padding: 8px 15px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: 0.3s;
  cursor: pointer;
}
.table__tab:hover {
  background: #fff;
  border: 2px solid #7f39fb;
  color: #000;
  transition: 0.3s;
}
.table__tab.active {
  background: #fff;
  border: 2px solid #7f39fb;
  color: #000;
  transition: 0.3s;
}
.on__main {
  display: flex;
  justify-content: flex-end;
  max-width: 800px;
  margin: 10px auto;
}
.on__main__btn {
  background-color: #018786;
  color: #000;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
.table__content {
  max-width: 1200px;
  margin: 0 auto;
}
.table__content table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 15px;
  box-shadow: 0 0 20px #7f39fb;
}
.table__content table tr:first-child {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.table__content table tr td {
  padding: 15px;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.table__content table tr td:first-child {
  text-align: center;
}
.table__content table tr td:last-child {
  border-right: none;
}
.table__content table tr:last-child td {
  border-bottom: none;
}
.table__content table tr:first-child td {
  background: #263238;
}
.table__content table tr:first-child td:first-child {
  border-radius: 15px 0 0 0;
}
.table__content table tr:first-child td:last-child {
  border-radius: 0 15px 0 0;
}
.table__content table tr:last-child td:first-child {
  border-radius: 0 0 0 15px;
}
.table__content table tr:last-child td:last-child {
  border-radius: 0 0 15px 0;
}
.form__block {
  max-width: 600px;
  margin: 0 auto;
}
.form__block__item {
  margin: 10px;
}
.form__block__item input,
.form__block__item textarea,
.form__block__item select {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid lightgray;
  color: #000;
}
.edit_block,
.del_block {
  text-align: center;
  font-size: 18px;
}
.edit_block a {
  color: blue;
}
.del_block a {
  color: red;
}
.main {
  background-color: #fff;
}
.main__tabs {
  display: flex;
  justify-content: center;
  background-color: #000;
  padding: 10px 0;
}
.main__tab {
  padding: 10px 20px;
  margin: 0 50px;
  font-size: 16pt;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.25s;
}
.main__tab:hover {
  background-color: transparent;
  border: 1px solid #fff;
  transition: 0.25s;
}
.main__tab.active {
  background-color: #fff;
  color: #000;
}
.products {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
}
.products > div {
  padding: 0 20px;
}
.products__filter {
  width: 20%;
}
.products__filter > div {
  margin-bottom: 20px;
  padding: 15px 0;
  border-radius: 10px;
  box-shadow: 0 0px 10px rgb(0 0 0 / 40%);
  background: #f9e2da;
}
.product__items__list {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  align-content: baseline;
}
.filter__item {
  padding: 10px 25px;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
}
.filter__item:last-child {
  margin-bottom: 0;
}
.filter__item.active {
  background-color: #000;
  color: #fff;
}
.product__item {
  padding: 15px;
  box-shadow: 0 0 10px rgb(0 0 0 / 40%);
  background: #f9e2da;
  width: 24%;
  margin-right: 1%;
  margin-bottom: 15px;
  border-radius: 10px;
}
@media (max-width: 1440px) {
  .product__item {
    width: 32%;
  }
}
@media (max-width: 1024px) {
  .product__item {
    width: 49%;
  }
}
@media (max-width: 640px) {
  .product__item {
    width: 99%;
  }
}
.product__item > div {
  margin-bottom: 10px;
}
.product__image img {
  height: 300px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}
.product__name {
  font-size: 24pt;
  margin: 0 -15px;
  background: #000;
  color: #fff;
  padding: 5px 15px;
  font-weight: 700;
}
.product__desc {
  color: gray;
  text-align: justify;
}
.search__filter {
  display: block;
  width: 100%;
  box-shadow: 0 0px 10px rgb(0 0 0 / 40%);
  background: #f9e2da;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.search__filter input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
  width: 100%;
}
.search__filter__title {
  font-size: 16px;
  margin-right: 10px;
}
.review__content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 0;
}
.review__add div {
  padding: 10px 0;
}
.review__add__name input,
.review__add__email input,
.review__add__text textarea {
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.review__add input:focus-visible,
.review__add textarea:focus-visible {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.review__add__btn input {
  padding: 10px 20px;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  transition: 0.25s;
  color: #fff;
  font-size: 14pt;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}
.review__add__btn input:hover {
  background-color: transparent;
  transition: 0.25s;
  color: #000;
}
.review__item {
  padding: 15px;
  box-shadow: 0 0 10px rgb(0 0 0 / 40%);
  background: #f9e2da;
  text-align: justify;
  margin-bottom: 15px;
}
.review__user__name {
  font-size: 18pt;
  font-weight: 500;
  padding-bottom: 10px;
}
.reviews__list {
  margin-top: 50px;
}
.page404 {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  left: 0;
  font-weight: 900;
  font-size: 50pt;
  display: table;
  text-align: center;
}
.login__btn {
  position: absolute;
  padding: 10px 20px;
  background-color: #0d6efd;
  font-size: 14pt;
  font-weight: 500;
  right: 50px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  transition: 0.25s;
}
.login__btn:hover {
  background-color: #fff;
  color: #0d6efd;
  transition: 0.25s;
}
